# fk u apple
.DS_Store

# ignore IDE folders
.idea
.vscode
.history

# generated coverage/build artifacts
coverage.out
cov.out
cov_builder.out
cov_transpiler.out
coverage.html
coverage_builder.out
coverage_logger.out
logger_cov.out

# compiled example binaries and generated C++
docs/examples/*.cpp
docs/examples/[0-9][0-9]-*[^.][^e][^x][^p][^r]

# compiled Go binaries
main
express2

# build dist/backup artifacts
build/dist/
build/backups/

# debugger artifacts
compiler/__debug_bin*

# libmill compiled artifacts
lib/libmill/.libs/
lib/libmill/autom4te.cache/
lib/libmill/**/*.o
lib/libmill/**/*.lo
lib/libmill/**/*.la
lib/libmill/**/*.a
lib/libmill/**/*.so
lib/libmill/**/*.so.*
